.headline-1{
    font-size: 5em;
    font-weight: bold;
    color: #000000;
    letter-spacing: 15px;
}

.headline-contain{
    margin: auto;
    background-color: rgba(255, 255, 255, 0.58);
    display: flex;
    justify-content: center;
    border: none;
    box-shadow: black 10px 10px 90px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

body{

    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;


    width: 100vw;
    height: 100vh;
    background: #a8ff78;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5bc2a5, #88c75e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box{
    margin: 10px;
    padding: 50px;
    width: 50%;
    height: 1000%;
    background-color: rgba(255, 255, 255, 0.76);
}
